<script>
    function clicked(e)
    {
        if(!confirm('This action will delete all menu items and create basic Sakura menu. Are you sure?')) {
            e.preventDefault();
        }
    }
</script>

<h1>Welcome to Sakura restaurant!</h1>
<hr>

{% if user.is_authenticated %}
    <p>Logged in as: <b>{{ user.username }}</b></p>
    <p><a href="{% url 'logout-page' %}">Log out</a></p>
    {% if user.is_superuser %}
        <p><a href="{% url 'create-basic-menu' %}" onclick="clicked(event)">Create basic Sakura menu</a></p>
    {% endif %}

{% else %}
    <p>Welcome. <a href="{% url 'login-page' %}">Please log in.</a></p>

{% endif %}
<hr>

{% include 'restaurant/tables.html' %}